.categories{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.categories .category-card{
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0 0 8px #ddd;
    transition: background-color 0.3s;
    text-align: center;
}

.category-card:hover {
    background-color: #ececec;
}

.category-card.selected {
    background-color: #AA3C3F;
    color: white;
    box-shadow: 0 0 8px #AA3C3F;
}


.text-input{
    padding: 1rem;
    width: 100%;
    border-radius: 7px;
    background-color: #f5f5f5;
    border: none;
    margin-bottom: 1rem;
}

#description{
    width: 100%;
    border-radius: 7px;
    background-color: #f5f5f5;
    padding: 1rem;
    border: none;
    margin-bottom: 1rem;
}

h3{
    font-weight: bold;
    /* font-size: 1rem !important; */
}
h3 span{
    color: #AA3C3F;
}

.latlng{
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.latlng .lat{
    width: 100%;
}
.doubleInput{
    width: 100%;
    padding: 1rem;
    border-radius: 7px;
    border: none;
    background-color: #f5f5f5;
}

input[type="file"]{
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 7px;
    padding: 1rem;

}

.input-label{
    font-size: 1rem !important;
}