.img-container{
    width: 100%;
    height: 30%;

}

.img-container img{
    width: 100%;
}

.building-descr-body{
    padding: 1rem;
}

.building-descr-body .p-head{
    color: #AA3C3F;
    font-weight: 900;
    margin: 0;
}

.building-descr-body .category-canvas-row{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.building-descr-body .category-canvas-row img{
    width: 1.2rem;
}



.building-descr-body h1{
    font-weight: bold;
}